* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0d0d0d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.chat-container {
  width: 92%;
  max-width: 420px;
  height: 92vh;
  background: #000;
  border-radius: 22px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 10px;
}

#chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* USER MESSAGE */
.user-msg {
  align-self: flex-end;
  background: #111;          /* black like AI */
  padding: 10px 14px;
  border-radius: 16px 16px 0 16px;
  margin: 6px 0;
  max-width: 75%;
  color: white;
}

/* AI MESSAGE */
.ai-msg {
  align-self: flex-start;
  background: #111;          /* black like user */
  padding: 10px 14px;
  border-radius: 16px 16px 16px 0;
  margin: 6px 0;
  font-weight: bold;         /* bold answer */
  letter-spacing: 0.5px;
  color: white;
  border-left: none;         /* red line removed */
}

.input-area {
  display: flex;
  background: #333;
  border-radius: 30px;
  padding: 6px;
}

input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  font-size: 15px;
}

button {
  background: white;
  color: black;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}